<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanerchuan.dao.generation.WrcAlbumMapper">
  <resultMap id="BaseResultMap" type="com.wanerchuan.domain.generation.WrcAlbum">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="gmt_created" jdbcType="TIMESTAMP" property="gmtCreated" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="modified_by" jdbcType="VARCHAR" property="modifiedBy" />
    <result column="album_name" jdbcType="VARCHAR" property="albumName" />
    <result column="fid" jdbcType="VARCHAR" property="fid" />
    <result column="cover_url" jdbcType="VARCHAR" property="coverUrl" />
    <result column="album_intro" jdbcType="VARCHAR" property="albumIntro" />
  </resultMap>
  <sql id="Base_Column_List">
    id, gmt_created, gmt_modified, created_by, modified_by, album_name, fid, cover_url, 
    album_intro
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wrc_album
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from wrc_album
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wanerchuan.domain.generation.WrcAlbum">
    insert into wrc_album (id, gmt_created, gmt_modified, 
      created_by, modified_by, album_name, 
      fid, cover_url, album_intro
      )
    values (#{id,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{createdBy,jdbcType=VARCHAR}, #{modifiedBy,jdbcType=VARCHAR}, #{albumName,jdbcType=VARCHAR}, 
      #{fid,jdbcType=VARCHAR}, #{coverUrl,jdbcType=VARCHAR}, #{albumIntro,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wanerchuan.domain.generation.WrcAlbum">
    insert into wrc_album
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="gmtCreated != null">
        gmt_created,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="modifiedBy != null">
        modified_by,
      </if>
      <if test="albumName != null">
        album_name,
      </if>
      <if test="fid != null">
        fid,
      </if>
      <if test="coverUrl != null">
        cover_url,
      </if>
      <if test="albumIntro != null">
        album_intro,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null">
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="modifiedBy != null">
        #{modifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="albumName != null">
        #{albumName,jdbcType=VARCHAR},
      </if>
      <if test="fid != null">
        #{fid,jdbcType=VARCHAR},
      </if>
      <if test="coverUrl != null">
        #{coverUrl,jdbcType=VARCHAR},
      </if>
      <if test="albumIntro != null">
        #{albumIntro,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wanerchuan.domain.generation.WrcAlbum">
    update wrc_album
    <set>
      <if test="gmtCreated != null">
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="modifiedBy != null">
        modified_by = #{modifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="albumName != null">
        album_name = #{albumName,jdbcType=VARCHAR},
      </if>
      <if test="fid != null">
        fid = #{fid,jdbcType=VARCHAR},
      </if>
      <if test="coverUrl != null">
        cover_url = #{coverUrl,jdbcType=VARCHAR},
      </if>
      <if test="albumIntro != null">
        album_intro = #{albumIntro,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wanerchuan.domain.generation.WrcAlbum">
    update wrc_album
    set gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=VARCHAR},
      modified_by = #{modifiedBy,jdbcType=VARCHAR},
      album_name = #{albumName,jdbcType=VARCHAR},
      fid = #{fid,jdbcType=VARCHAR},
      cover_url = #{coverUrl,jdbcType=VARCHAR},
      album_intro = #{albumIntro,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>