<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanerchuan.dao.generation.WrcAirrouteFlowDetailMapper">
  <resultMap id="BaseResultMap" type="com.wanerchuan.domain.generation.WrcAirrouteFlowDetail">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="gmt_created" jdbcType="TIMESTAMP" property="gmtCreated" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="modified_by" jdbcType="VARCHAR" property="modifiedBy" />
    <result column="flow_name" jdbcType="VARCHAR" property="flowName" />
    <result column="flow_context" jdbcType="VARCHAR" property="flowContext" />
    <result column="flow_order" jdbcType="INTEGER" property="flowOrder" />
    <result column="airroute_id" jdbcType="VARCHAR" property="airrouteId" />
    <result column="include_food" jdbcType="VARCHAR" property="includeFood" />
    <result column="include_rest" jdbcType="VARCHAR" property="includeRest" />
    <result column="album_id" jdbcType="VARCHAR" property="albumId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, gmt_created, gmt_modified, created_by, modified_by, flow_name, flow_context, 
    flow_order, airroute_id, include_food, include_rest, album_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wrc_airroute_flow_detail
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from wrc_airroute_flow_detail
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wanerchuan.domain.generation.WrcAirrouteFlowDetail">
    insert into wrc_airroute_flow_detail (id, gmt_created, gmt_modified, 
      created_by, modified_by, flow_name, 
      flow_context, flow_order, airroute_id, 
      include_food, include_rest, album_id
      )
    values (#{id,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{createdBy,jdbcType=VARCHAR}, #{modifiedBy,jdbcType=VARCHAR}, #{flowName,jdbcType=VARCHAR}, 
      #{flowContext,jdbcType=VARCHAR}, #{flowOrder,jdbcType=INTEGER}, #{airrouteId,jdbcType=VARCHAR}, 
      #{includeFood,jdbcType=VARCHAR}, #{includeRest,jdbcType=VARCHAR}, #{albumId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wanerchuan.domain.generation.WrcAirrouteFlowDetail">
    insert into wrc_airroute_flow_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="gmtCreated != null">
        gmt_created,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="modifiedBy != null">
        modified_by,
      </if>
      <if test="flowName != null">
        flow_name,
      </if>
      <if test="flowContext != null">
        flow_context,
      </if>
      <if test="flowOrder != null">
        flow_order,
      </if>
      <if test="airrouteId != null">
        airroute_id,
      </if>
      <if test="includeFood != null">
        include_food,
      </if>
      <if test="includeRest != null">
        include_rest,
      </if>
      <if test="albumId != null">
        album_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null">
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="modifiedBy != null">
        #{modifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="flowName != null">
        #{flowName,jdbcType=VARCHAR},
      </if>
      <if test="flowContext != null">
        #{flowContext,jdbcType=VARCHAR},
      </if>
      <if test="flowOrder != null">
        #{flowOrder,jdbcType=INTEGER},
      </if>
      <if test="airrouteId != null">
        #{airrouteId,jdbcType=VARCHAR},
      </if>
      <if test="includeFood != null">
        #{includeFood,jdbcType=VARCHAR},
      </if>
      <if test="includeRest != null">
        #{includeRest,jdbcType=VARCHAR},
      </if>
      <if test="albumId != null">
        #{albumId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wanerchuan.domain.generation.WrcAirrouteFlowDetail">
    update wrc_airroute_flow_detail
    <set>
      <if test="gmtCreated != null">
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="modifiedBy != null">
        modified_by = #{modifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="flowName != null">
        flow_name = #{flowName,jdbcType=VARCHAR},
      </if>
      <if test="flowContext != null">
        flow_context = #{flowContext,jdbcType=VARCHAR},
      </if>
      <if test="flowOrder != null">
        flow_order = #{flowOrder,jdbcType=INTEGER},
      </if>
      <if test="airrouteId != null">
        airroute_id = #{airrouteId,jdbcType=VARCHAR},
      </if>
      <if test="includeFood != null">
        include_food = #{includeFood,jdbcType=VARCHAR},
      </if>
      <if test="includeRest != null">
        include_rest = #{includeRest,jdbcType=VARCHAR},
      </if>
      <if test="albumId != null">
        album_id = #{albumId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wanerchuan.domain.generation.WrcAirrouteFlowDetail">
    update wrc_airroute_flow_detail
    set gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=VARCHAR},
      modified_by = #{modifiedBy,jdbcType=VARCHAR},
      flow_name = #{flowName,jdbcType=VARCHAR},
      flow_context = #{flowContext,jdbcType=VARCHAR},
      flow_order = #{flowOrder,jdbcType=INTEGER},
      airroute_id = #{airrouteId,jdbcType=VARCHAR},
      include_food = #{includeFood,jdbcType=VARCHAR},
      include_rest = #{includeRest,jdbcType=VARCHAR},
      album_id = #{albumId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>